* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'permanent_markerregular';
    src: url('../fonts/permanentmarker-webfont.woff2') format('woff2'),
        url('../fonts/permanentmarker-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    width: 100%;
    height: 100vh;

    font-family: 'permanent_markerregular', Arial, Helvetica, sans-serif;
    background-color: #080808;
}

.container {
    width: 60%;
    height: 100%;
    margin: auto;
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

header {
    width: 100%;
    height: 20%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header .title {
    font-size: 4rem;
    color: #f7f7f7;
}

header .buttons > button {
    padding: 0.3rem 1.5rem;
    cursor: pointer;
}

.buttons button, .game-info {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

header .game-info {
    color: #7F7FFF;
}

.board-container {
    width: 100%;
    height: 75%;
    border: 1px solid black;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.board-cell {
    border: 1px solid #f7f7f7;
    cursor: pointer;
}

.board-cell:hover {
    background-color: lightgrey;
}